* {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    color: rgb(58, 55, 55);
  }
  
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #a2b0ff;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Poppins";
  }
  
  /* Mobile Top Nav Bar */
  .container-fluid > .navbar {
    margin: 0px -15px;
    background-color: #031022;
  }
  
  .navbar-toggler {
    background-color: white;
  }
  
  /* Side Nav Bar */
  #sideNavBar {
    background-color: #031022;
    height: 100vh;
    position: fixed;
    z-index: 1;
  }
  
  .navbar-nav i,
  .navbar-nav a {
    color: rgba(255, 255, 255, 0.712) !important;
  }
  
  .navbar-nav li:hover i {
    color: #506aff !important;
  }
  
  .navbar-nav li:hover a {
    color: white !important;
  }
  
  /* Profile Section */
  
  #profileSection > .row {
    background: linear-gradient(
        rgba(3, 69, 64, 0.9) 0%,
        rgba(3, 69, 64, 0.9) 100%
      ),
      url("/resources/profile-bg.jpg");
    background-size: cover;
    padding: 100px 0px;
  }
  
  #profileSection .profileTitle {
    margin: 60px 0px;
  }
  
  #profileSection h1 {
    font-size: 62px;
  }
  
  .highlightedText {
    position: relative;
    z-index: 3;
  }
  
  .highlightedText:after {
    content: " ";
    height: 20%;
    position: absolute;
    left: 0;
    top: 55%;
    margin-left: -5px;
    width: 100%;
    z-index: -1;
  }
  
  .changingRolesDiv {
    position: relative;
    color: rgba(146, 200, 47, 0.9);
  }
  
  .aboutDiv {
    font-size: 23px;
    font-family: "Roboto";
  }
  
  .profileButtons {
    position: relative;
  }
  
  .contactInProfileSection {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    text-align: left;
  }
  
  @media only screen and (max-width: 1025px) {
    .changingRolesDiv {
      white-space: nowrap;
      left: 25px;
    }
  }
  
  @media only screen and (max-width: 769px) {
    .changingRolesDiv {
      left: 0;
    }
  }
  
  @media only screen and (max-width: 426px) {
    .changingRolesDiv {
      white-space: pre-wrap;
      min-height: 185px;
    }
  }
  
  /* Skills Div */
  
  #skills {
    min-height: 100vh;
  }
  
  .skillsTitle > h1 {
    font-weight: 700;
    position: relative;
    width: fit-content;
  }
  
  .skillsTitle > h1:after {
    content: " ";
    height: 20%;
    position: absolute;
    left: -5px;
    top: 55%;
    width: calc(100% + 10px);
    z-index: -1;
  }
  
  .skillImages {
    padding: 50px;
  }
  
  .skillImages:hover {
    transition: 0.3s;
    padding: 0px;
    opacity: 1;
  }
  
  .skillImages > div {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
  }
  
  /* Proficiencies Div */
  #proficiencies {
    min-height: 80vh;
    /* background-color: #b7c2ff; */
    background-color: rgba(3, 69, 64, 0.9);
  }
  
  .proficienciesTitle > h1 {
    color: white;
    font-weight: 700;
    position: relative;
    width: fit-content;
    z-index: 3;
  }
  
  .proficienciesTitle > h1:after {
    content: " ";
    height: 20%;
    position: absolute;
    left: -5px;
    top: 55%;
    width: calc(100% + 10px);
    z-index: -1;
  }
  
  #proficiencies h4 {
    font-weight: 600;
    font-family: "Poppins";
    color: white;
  }
  
  .prodesc{
    color: white;
  }

  /* Project Div */
  #project {
    min-height: 120vh;
  }
  
  .projectTitle > h1 {
    font-weight: 700;
    position: relative;
    width: fit-content;
  }
  
  .projectTitle > h1:after {
    content: " ";
    height: 20%;
    position: absolute;
    left: -5px;
    top: 55%;
    width: calc(100% + 10px);
    z-index: -1;
  }
  
  #project .card {
    min-height: 450px;
  }
  
  #project .card .card-title {
    font-size: 35px;
    font-weight: 600;
  }
  
  #project .card:hover {
    transition: 0.5s;
    border: none;
    box-shadow: 11px 11px 30px #c7c7c7, -11px -11px 30px #ffffff;
  }
  
  #project .card:hover .card-title {
    color: white;
  }
  
  #project .card:hover > .card-body {
    animation: 0.5s linear animateCardBackground;
    background-color: rgba(80, 106, 255, 0.8);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  #project .card-body {
    position: relative;
  }
  
  .link {
    position: absolute;
    right: 0;
    top: 5px;
  }
  
  #project .card-body .card-stacks {
    position: absolute;
    text-align: center;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #project .card-body img {
    width: 30px;
  }
  
  .card-links {
    display: flex;
    justify-content: center;
  }
  
  .card-links .btn {
    margin: 4px;
  }
  
  @keyframes animateCardBackground {
    from {
      background-color: transparent;
    }
    to {
      background-color: rgba(80, 106, 255, 0.8);
    }
  }
  
  /* Stats */
  #statistics {
    background: linear-gradient(
        rgba(3, 69, 64, 0.9) 0%,
        rgba(3, 69, 64, 0.9) 100%
      ),
      url("/resources/profile-bg.jpg");
  }
  .statisticsTitle > h1 {
    color: white;
    font-weight: 700;
    margin-top: 100px;
    position: relative;
    width: fit-content;
  }
  
  .statisticsTitle > h1::after {
    content: " ";
    height: 20%;
    position: absolute;
    left: -5px;
    top: 55%;
    width: calc(100% + 10px);
    z-index: -1;
  }
  
  .individualStat {
    width: 140px;
    color: white;
    text-align: center;
  }
  
  .individualStat > div:nth-child(1) {
    margin: auto;
    color: white;
    font-size: 28px;
    font-weight: 600;
    height: 130px;
    width: 130px;
    border: 10px solid #506aff;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #gitCal{
    margin-top: 3%;
    text-align: center;

  }


  /* Contact Footer */
  #contact {
    background: linear-gradient(
        rgba(3, 69, 64, 0.9) 0%,
        rgba(3, 69, 64, 0.9) 100%
      ),
      url("/resources/profile-bg.jpg");
    min-height: 22vh;
    color: black;
  }
  
  .contactIcons {
    font-size: 30px;
  }
  
  .contactIcons:hover {
    color: white;
    cursor: pointer;
  }
  
#sfsk{
  margin-bottom: -40px;
}


.section__title,
.section__subtitle {
  text-align: center;
  margin-top: 15px;
}


@media screen and (min-width: 768px) {
  .containerG {
    margin-left: auto;
    margin-right: auto;
  }
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.containerG {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}



:root {
  --color-calendar-graph-day-bg: #DDDBDB;
  --color-calendar-graph-day-L1-bg: #39DD34;
  --color-calendar-graph-day-L2-bg: #45A045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0A4208;
}
rect.ContributionCalendar-day[data-level='0'] {
  fill: var(--color-calendar-graph-day-bg);
}
rect.ContributionCalendar-day[data-level='1'] {
  fill: var(--color-calendar-graph-day-L1-bg);
}
rect.ContributionCalendar-day[data-level='2'] {
  fill: var(--color-calendar-graph-day-L2-bg);
}
rect.ContributionCalendar-day[data-level='3'] {
  fill: var(--color-calendar-graph-day-L3-bg);
}
rect.ContributionCalendar-day[data-level='4'] {
  fill: var(--color-calendar-graph-day-L4-bg);
}
.calendar .width-full>.float-left {
  display: none;
}
.calendar {
  font-family: Helvetica, arial;
  /* border: 0.2px solid #DDDDDD; */ 
  
  border-radius: 5px;
  min-height: 243px;
  text-align: center;
  /* margin: 0 auto; */
  
  margin-top: 35px;
  background-color: #0D1117;
  border: none;
  padding: 25px;
}
.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: #aaa;
}
.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
  float: right;
}
.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}
.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.text-small {
  font-size: 12px;
  color: #767676;
}
.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}
.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}
.contrib-column-first {
  border-left: 0;
}
.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}
.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: #3CDD36;
}
.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}
.monospace {
  text-align: center;
  color: #000;
  font-family: monospace;
}
.monospace a {
  color: #1D75AB;
  text-decoration: none;
}
.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}
.left.text-muted {
  float: left;
  margin-left: 9px;
  color: #767676;
}
.left.text-muted a {
  color: #4078C0;
  text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}
h2.f4.text-normal.mb-3 {
  display: none;
}
.float-left.text-gray {
  float: left;
}
#user-activity-overview {
  display: none;
}
.day-tooltip {
  white-space: nowrap;
  position: absolute;
  z-index: 99999;
  padding: 10px;
  font-size: 12px;
  color: #959DA5;
  text-align: center;
  background: rgba(0, 0, 0, .85);
  border-radius: 3px;
  display: none;
  pointer-events: none;
}
.day-tooltip.is-visible {
  display: block;
}
.day-tooltip:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  margin: 0 0 0 -5px;
  content: " ";
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, .85)
}
text.ContributionCalendar-label {
  fill: #ccc;
  font-size: 11px;
}


